.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.test {
  background: pink;
  width: 150px;
  height: 50px;
  border: transparent;
  border-radius: 6px;
}

.testStateClass {
  background: rgb(170, 113, 223);
  width: 150px;
  height: 50px;
  border: transparent;
  border-radius: 6px;
}

.testStateHook {
  background: rgb(106, 106, 229);
  width: 150px;
  height: 50px;
  border: transparent;
  border-radius: 6px;
}